@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700');

//custom-placeholder
@import "_custom-placeholder";

body{

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container-fluid{

  padding-right: 0;
  padding-left: 0;
}

//header
.header{

  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  background-color: #fff;

  .logo{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 98px;
        
    .title{

      display: none;
    }
  }

  .nav{

    width: 100%;
    display: flex;
    justify-content: flex-end;

    .navbar-collapse{

      flex-grow: 0;
    }

    .nav-list{

      display: flex;
      @extend %reset-list;
      
      li{

        padding-left: 35px;

        @include media-breakpoint-down(md) {

          padding-left: 10px;
        }
      }

      a{

        color: rgba(0, 0, 0, 0.6);

        &:hover{

          text-decoration: none;
          color: #00abf7;
        }  
      }
    }
  }
}

//main
.main{

  width: 100%;
  padding-bottom: 102px;
  background-color: #f2f2f2;

  .chamada-cadastro{

    text-align: center;

    color: #58595b;
  
    .title-chamada{

      padding-top: 3rem;
      font-size: 42px;
      font-weight: bold;
    }

    .chamada{

      @extend %reset-paragraph;
      margin-bottom: .4rem;

      color: rgba(0,0,0,0.6);
      font-weight: 400;
    }
  }

  .form-cadastro{

    margin-top: 3.5rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    background-color: #fff;

    .row{

      align-items: center;

      &.custom-info-plano{

        margin-top: 87px;
      }
    }

    .form-cadastro-header{

      padding-top: 3.5rem;
      padding-bottom: 4.6rem;

      text-align: center;  
      
      .list-nav-form{

        @extend %reset-list;
        display: flex;
        justify-content: center;

        .item-nav-form{

          color: #b2b4b6;
          font-weight: 600;
          font-size: 21px;
        }

        .link-nav-form{

          font-weight: 700;
          font-size: 20px;
          margin-right: 20px;

          width: 40px;
          height: 40px;  
          padding: 7px 15px;

          color: #fff;
          border-radius: 50%;
          background-color:#b1b3b6;
        }
        
        .active{

          color: #58595b;
          font-weight: 600;

          .link-nav-form{

            background-color: #1db2f5;
          }
        }

        .seta{

          margin: 0 27px;
        }
      }
    }

    .title-form{

      color: #1db2f5;
      font-weight: 400;
      font-size: 24px;
      //padding-bottom: 44px;
    }

    .col-form{

      padding-right: 77px;
      padding-left: 70px;

      .form-group{

        margin-top: 44px;
      }

      &.custom-row-form{

        @include media-breakpoint-down(sm) {

          margin-top: 87px;
        }

        .custom-nome-fantasia{

          margin-bottom: 70px;
        }
        
      }

      &:nth-last-child(1){

        //padding-left: 0;

        @include media-breakpoint-down(xs) {

          padding-left: 70px;
        }
      }

      .custom-input{
        
        font-size: 18px;
        font-weight: 400;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #b1b3b6;
        padding: 0 0 12px 0;

        &:focus{

          box-shadow: none;
          border-bottom: 2px solid #1db2f5;
        }
      }

      .custom-label{

        color:rgba(0,0,0,0.6);
        font-weight: 400;
      }

      .avisos{

        color: #939598;
        font-size: 12px;
        font-weight: 400;

        .avisos-link{

          color: #939598;
          font-weight: bold; 
        }
      }
    }

    .custom-row-resumo{

      margin-top: 46px;
      margin-left: 0;
      margin-right: 0;

      .custom-col-resumo{

        color: #fff;
        background-color: #1db2f5;
        
        .title-row-resumo{

          text-align: center;
          font-size: 32px;
          font-weight: 400;
          padding-top: 54px;
          padding-bottom: 39px;

          color: #fff;
        }

        .resumocontratado{

          margin-bottom: 29px;

          .list-resumocontratado{

            @extend %reset-list;
            display: flex;
            justify-content: center;
                                  
            .item-resumocontratado{

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              margin-left: 30px;
              width: 175px;
              height: 210px;

              @include media-breakpoint-down(xs) {

                margin-left: 15px;
              }

              color: #58595b;
              background-color: #fff;
              border-radius: 3px;
              box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

              &:first-child{

                margin-left: 0;
              }

              .img-resumocontratado{

                margin-bottom: 25px;
              }

              .info-resumocontratado{

                margin-bottom: 0;
                font-size: 16px;
                font-weight: 400;

                &.destaque-resumocontratado{

                  font-size: 32px;
                  font-weight: 700;
                  color: #58595b;

                  @include media-breakpoint-down(xs) {

                    font-size: 26px;
                  }
                }
              }
            }
          }  
        }

        .precototal{

          width: 225px;
          margin-top: 23px;
          margin-bottom: 40px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 23px;
          text-align: center;

          border-top: 1px solid rgba(255, 255, 255, 0.35);

          .img-precototal{

            float: left;
            margin-right: 20px;
          }

          .title-precototal{

            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
          }

          .value-precototal{

            font-size: 32px;
            font-weight: 700;
          }
        }
      }
    }

    .button-action{

      text-align: center;
      height: 200px;

      .custom-btn-action{

        font-size: 18px;
        font-weight: 600;
        margin-bottom: 29px;
        
        width: 329px;
        height: 55px;
        border-radius: 50px;
        border: none;
        background-color:#1db2f5;
      }

      .text-terms-polite{

        font-size: 13px;
        font-weight: 400;

        color: #6d6e71;

        .link-text-terms{

          color: #58595b;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}

//footer
.footer{

  color: #fff;

  .custom-footer-row{

    margin-right: 0;
    margin-left: 0;
  }

  .col-links-footer{

    display: flex;
    justify-content: flex-end;
    flex-grow: 2.4;

    @include media-breakpoint-down(sm) {

      justify-content: center;

      flex-grow: 1.4;

      .row-footer {

        display: flex;
        justify-content: center;
      }
    }

    
    padding-top: 51px;
    padding-bottom: 75px;
    background-color:#00a5ee;

    .col-algumas-categorias{

      margin-right: 140px;
      margin-left: 40px;

      @include media-breakpoint-down(lg) {

        margin-right: 15px;
        margin-left: 0;
      }

      @include media-breakpoint-down(md) {

        margin-right: 0;
      }
    }

    .midiasocial{

      margin-top: 47px;

      .list-midiasocial{

        display: flex;
        @extend %reset-list;

        .link-midiasocial{
        
          color: #fff;
        }  

        .item-midiasocial{
          
          padding-left: 25px;

          &:first-child{

            padding-left: 0;
          }
        }  
      }  
    }
  }

  .title-footer{

    width: 210px;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {

      margin-top: 20px;
    }
  }

    .list-link-footer{

      @extend %reset-list;
      
      .link-footer{

        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
      }
    }

  .col-links-anunciante{

    display: flex;
    flex-direction: column;
    flex-grow: 1.5;

    padding-left: 50px;

     @include media-breakpoint-down(lg) {
      
      padding-left: 30px;
    }

    @include media-breakpoint-down(sm) {

      align-items: center;
      padding-left: 0;
    }
   
    padding-top: 51px;
    
    background-color: #1db2f5;

    .list-anunciantes{

      @extend %reset-list;

      .item-anunciantes{

        margin-bottom: 80px;

        &:first-child{

          margin-bottom: 25px;
        }
      }

      .link-anunciantes{

        color: #fff;
        font-size: 16px;
        font-weight: 600;

        .img-anunciante{

          margin-right: 15px;
        }
        
      }
    }
  }

  .logotipo{

    font-size: 14px;

    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
  }
}

//footer POLITICA
.footer-politica{

  padding-top: 15px;
  padding-bottom: 15px;

  .footer-politica-aviso{

    font-size: 9px;
    text-align: center;
  }
}
